@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@100..900&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Epilogue:ital,wght@0,100..900;1,100..900&family=Manrope:wght@200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Outfit:wght@100..900&family=Overpass:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
*,*::before,*:after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
}
img{
    display: block;
    max-width: 100%;
    line-height: 0;
    object-fit: cover;
}
input,
button,
select,
textarea{
    font: inherit;
}
body{
    max-width: 100vw;
    width: 100vw;
    min-height: 100vh;
    font-family: "Outfit", sans-serif;
    overflow-x: hidden;
}
:root{
    --white: rgba(255, 255, 255, 1);
    --black: rgba(0, 0, 0, 1);
    --deep-pink: rgba(200, 46, 93, 1);
    --light-pink: rgba(254, 245, 247, 1);
    --baby-pink: rgba(244, 159, 175, 1);
}
.hero{
    z-index: 20;
    position: fixed;
    width: 100%;
    background-color: var(--white);
    padding-right: 2rem;
    box-shadow: 0px 1px 5px var(--deep-pink);
}
.hero nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav .logo{
    max-width: 80px;
}
nav .logo img{
    width: 100%;
}
nav .menu ul{
    display: flex;
    gap: 4rem;
}
nav .menu ul li a{
    color: var(--black);
    font-size: 20px;
}
nav .menu ul li:hover{
    transition: transform ease-in-out .3s;
    transform: scale(1.05);
}
nav .menu ul li a:hover{
    transition: color 0.3s;
    color: var(--deep-pink);
}
nav .contact-button a{
    font-size: 20px;
    color: var(--white);
    background-color: var(--deep-pink);
    padding: 4px 1rem;
    border-radius: 5px;
}
nav .contact-button:hover{
    transition: transform ease-in-out .3s;
    transform: scale(1.05);
}


/* HOME PAGE SECTION */
.home{
    max-width: 100%;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    background-color: var(--light-pink);
    background-image: url(./images/Frame\ 427318171.jpg);
    background-repeat: no-repeat;
    background-position: 100% 20%;
}
.home .home-page-content{
    width: 50%;
    padding-left: 1.5rem;
}
.home-page-content .sub-title{
    font-size: 40px;
    font-weight: 250;
    margin-bottom: .4rem;
}
.home-page-content .main-title{
    font-size: 40px;
    font-weight: 350;
    margin-bottom: .4rem;
}
.home-page-content .main-title span{
    color: var(--deep-pink);
}
.home-page-content .summary{
    font-size: 20px;
    font-weight: 300;
    line-height: 1.9rem;
    margin-bottom: 5%;
}
.home-page-content .generate-button{
    font-size: 20px;
    color: var(--white);
    background-color: var(--deep-pink);
    padding: 10px 15px;
    border-radius: 5px;
    transition: ease-in-out 0.3s;
}
.home-page-content .generate-button:hover{
    opacity: .8;
}


/* ABOUT-PAGE-SECTION */
.about-page{
    overflow-x: hidden;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 2rem;
}
.about-page .about-image-conatiner{
    position: relative;
    max-width: 45%;
    left: -10%;
    z-index: -1;
}
.about-image-conatiner img{
    width: 100%;
}
.about-page .about-page-content-container{
    width: 50%;
    margin: auto 0;
    padding-right: 1rem;
}
.about-page-content-container .title{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: .5rem;
}
.about-page-content-container .summary{
    font-size: 20px;
    line-height: 1.7rem;
}

/* TEMPLATE-PAGE-SECTION */
.template-page{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 3rem;
    background-color: var(--light-pink);
}
.template-page .title-container{
    width: 100%;
    margin-bottom: 2rem;
}
.title-container h2{
    font-size: 30px;
    font-weight: 600;
    text-align: center;
    letter-spacing: 10px;
    text-transform: uppercase;
}
.template-page .templates-container{
    display: grid;
    grid-gap: 2rem 5rem;
    grid-template-rows:repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr) ;
}
.templates-container .template{
    z-index: 10;
    position: relative;
    width: 500px;
    height: 300px;
    background-color: var(--baby-pink);
    border-radius: 15px;
}
.template-buttons{
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    gap: 1rem;
}
.template-buttons.hide{
    display: none;
}
.template-buttons a{
    font-size: 20px;
    color: white;
    background-color: var(--deep-pink);
    padding: 10px 20px;
    border-radius: 666px;
}


/* COMPANY-PAGE-SECTION*/
.company{
    padding: 3rem 2rem;
    width: 100%;
    background-color: var(--light-pink);
} 
.company .company-title-container{
    display: flex;
    gap: 1rem;
    padding-bottom: 1rem;
    border-bottom: 3px solid var(--baby-pink);

}
.company-title-container .title-container{
    width: 70px;
    border: 3px solid var(--baby-pink);
    border-radius: 666px;
    padding: .2rem 0;
}
.title-container .title{
    width: 100%;
    display: flex;
    justify-content: center;
}
.company-team-container{
    padding-top: 3rem;
    display: flex;
    justify-content: center;
    gap: 5rem;
}
.company-team-container .team{
    max-width: 45%;
    padding-bottom: 2rem;
}
.team img{
    width: 100%;
    padding-bottom: 1rem;
}
.team .name-container{
    width: max-content;
    border:  1px solid var(--baby-pink);
    padding: .5rem;
    border-radius: 666px;
    margin-bottom: 1rem;
}
.team .name-container .name{
    font-size: 20px;
    font-weight: 400;
}
.team .role{
    width: fit-content;
    font-size: 20px;
    font-weight: 400;
    padding-bottom: .5rem;
    border-bottom: 4px solid var(--baby-pink);
}
.team .company-vision-container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 900px;
}
.company-vision-container .vision{
    width: 60%;
    margin: 0 auto;
    font-size: 25px;
    text-align: center;
    line-height: 2rem;
}

/* CONTACT-PAGE-SECTION */
.contact{
    width: 100%;
    padding: 3rem 2rem;
}
.contact .contact-page-title{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
}
.contact-page-title h2{
    font-size: 35px;
}
.contact .contact-page-summary{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
}
.contact-page-summary p{
    font-size: 20px;
}
.contact .contact-page-form{
    max-width: 60%;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}
.contact .contact-page-form form{
    width: 100%;
}
.contact  .contact-page-form .form{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    margin-bottom: 2rem;
}
.form label{
    font-size: 20px;
    margin-bottom: .5rem;
}
.form input,
.form textarea{
    width: 100%;
    border: none;
    border-bottom: 1px solid var(--black);
    resize: none;
}
textarea{
    margin-top: .2rem;
}
textarea::placeholder{
    color: var(--black);
}
.form input:focus,
.form textarea:focus{
    outline: none;
}
.button{
    width: 100%;
    margin: 0 auto;
}
.button button{
    width: 100%;
    font-size: 20px;
    color: var(--white);
    background-color: var(--deep-pink);
    border: none;
    padding: 1rem 4rem;
    border-radius: 5px;
}
.button button:hover{
    opacity: .8;
}

/* FOOTER-SECTION */
footer{
    width: 100%;
    background-color: var(--deep-pink);
    display: flex;
    justify-content: right;
    padding-block: 1rem;
    padding-right: 2rem;
    align-items: center;
    gap: 6rem;
    color: var(--white);
}
.category-section .title{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 2%;
}
.category-section ul{
    display: flex;
    gap: 1rem;
}
.category-section ul li a{
    font-size: 18px;
    color: var(--white);
}
.category-section ul li:hover{
    transform: scale(1.05);
}
.social-section .title{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 2%;
}
.social-section ul{
    display: flex;
    gap: 1rem;
}
.social-section ul li a{
    font-size: 18px;
    color: var(--white);
}
.social-section ul li:hover{
    transform: scale(1.05);
}