@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@100..900&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Epilogue:ital,wght@0,100..900;1,100..900&family=Manrope:wght@200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Outfit:wght@100..900&family=Overpass:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    list-style-type: none;
}
.hide{
    display: none;
}
input,
button,
select,
textarea{
    font: inherit;
}
:root{
    --white:#FFFFFF;
    --blue: #E1F4F6;
    --black: #000000;
}
body{
    min-height: 100vh;
    max-width: 100%;
    background-color:  #E1F4F6;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
form{
    height: auto;
    padding: 2rem;
    border-radius: 1rem;
    border:2px solid #91dfe8;
    width: 95%;
    margin: 0 auto;
    margin-top: 2rem;
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    justify-content: center;
}
form h1{
    text-transform: uppercase;
    color: #91dfe8;
    text-align: center;
    font-weight: 700;
    margin-bottom: 1rem;
}
form input{
    max-width: 100%;
    margin-bottom: .5rem;
    border: 1px solid #91dfe8;
    border-radius: 5px;
    padding: 10px;
}
form textarea{
    resize: none;
    range: 10;
    margin-bottom: .5rem;
    border: 1px solid #91dfe8;
    border-radius: 5px;
    padding: 10px;
}
form input:focus,
form textarea:focus{
    border: none;
    outline: 2px solid #76d8e3;
}
form button{
    text-transform: uppercase;
    font-size: 1em;
    font-weight: bold;
    padding: .5rem;
    background-color: #91dfe8;
    border: none;
    border-radius: 5px;
}
form button:hover{
    background-color: #76d8e3;
}
.download-btn{
    color: #91dfe8;
    margin: 2% auto;
    width: fit-content;
    text-transform: uppercase;
    font-size: 1em;
    font-weight: bold;
    padding: .5rem;
    background-color: #fff;
    border: none;
    border-radius: 5px;
}
.download-btn:hover{
    color: #76d8e3;
}
.porfolio-container.hide{
    display: none;
}
.porfolio-container{
    font-family: "Roboto Slab", serif;
    max-width: 850px;
    margin: 0 auto;
    padding: 1rem;
    background-color: #bfe6ea;
    box-shadow: 0 0 15px var(--blue);
}
.template3form.hide{
    display: none;
}
.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--blue);
    padding-block: 4rem;
}
.header .profile-image-section{
    width: 100px;
    height: 100px;
    border-radius: 100%;
    margin-bottom: 1rem;
}
.profile-image-section img{
    width: 100%;
    height: 100%;
    border-radius: 100%;
}
.header .name{
    font-weight: bolder;
    font-size: 30px;
    margin-bottom: .5rem;
}
.header .role{
    font-size: 20px;
    margin-bottom: .5rem;
}
.header .status{
    margin-top: .5rem;
    background-color: var(--black);
    padding: 6px 1.5rem;
    color: var(--white);
    border-radius: 15px;
}
.about{
    margin: 1rem 1rem;
    background-color: var(--blue);
    padding: 3rem 1rem;
}
.about h2{
    font-size: 30px;
    text-transform: uppercase;
    margin-bottom: .5rem;
}
.about p{
    font-size: 18px;
    line-height: 1.5rem;
    margin-bottom: 1rem;
}
.experience{
    position: relative;
    max-width: 850px;
    height: auto;
    width: 100%;
    display: flex;
    align-items: center;
}
.experience .exp-content{
    width: 100%;
    height: auto;
    z-index: 2;
    position: relative;
}
.experience .third{
    background-color: var(--blue);  
}
.experience .second{
    background-color: var(--white);
}
.experience .recent{
    background-color: var(--blue);
}
.experience .exp{
    padding-block: 1.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    display: flex;
    align-items: start;
    width: 92%;
    margin: 0 auto;
}
.experience .exp .date{
    width: 100%;
    margin-right: 5px;
    font-weight: bold;
    font-size: 18px;
}
.experience .exp .exp-summary .role{
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 1%;
}
.experience .exp .exp-summary .role-summary{
    line-height: 1.5rem;
}
.experience .exp-bg{
    width: 10%;
    height: 775px;
    position: absolute;
    border: 4px solid var(--black);
    z-index: -1;
    top: 0;
    left: 0;
    margin-top: 2%;
    margin-left: 2.5%;
}
.contact{
    margin-top: 5%;
    background-color: var(--blue);
    padding: 3rem 2.5rem;
    display: flex;
    flex-direction: column;
}
.contact p{
    font-size: 16px;
    margin-bottom: 1%;
}
.contact .contact-details{
    display: flex;
    gap: 3rem;
    padding-bottom: 1.5rem;
}
.contact-details .mail{
    display: flex;
    align-items: center;
}
.contact-details .mail img{
    width: 25px;
    margin-right: 5px;
}
.contact-details .phone-number{
    display: flex;
    align-items: center;
}
.contact-details .phone-number img{
    width: 25px;
    margin-right: 5px;
}
@media (max-width:375px) {
    form h1{
    font-size: 25px;
    font-weight: 700;
    }
}
@media (max-width:330px){
    form h1{
    font-size: 19px;
    font-weight: 700;
    }
    form label{
        font-size: 15px;
    }
}
@media (max-width: 285px){
    form button{
    font-size: .8em;
}
}
 
